In [1]:
import pandas as pd 

df = pd.read_csv('D:\\ampick\mirror\\recommend_data.csv')
df.head(2)

,book_img,book_title,book_price,book_score,book_page,book_genre,color,atmosphere,art_reputation,keyword
0,https://contents.kyobobook.co.kr/sih/fit-in/30...,울지 않는 열다섯은 없다,"11,700",10.0,650,chung,"['Beige', 'Purple']","['mysterious', 'calm', 'dreamlike']",383,"['가정', '소년', '학교']"
1,https://contents.kyobobook.co.kr/sih/fit-in/30...,학교 안에서,"10,800",10.0,600,chung,"['Beige', 'Purple']","['mysterious', 'calm', 'dreamlike']",391,"['학교', '폭탄', '경찰청']"

In [6]:
import ast

df['keyword'] = [ast.literal_eval(i) for i in df['keyword']]

In [8]:
df.head(2)

,book_img,book_title,book_price,book_score,book_page,book_genre,color,atmosphere,art_reputation,keyword
0,https://contents.kyobobook.co.kr/sih/fit-in/30...,울지 않는 열다섯은 없다,"11,700",10.0,650,chung,"['Beige', 'Purple']","['mysterious', 'calm', 'dreamlike']",383,"[가정, 소년, 학교]"
1,https://contents.kyobobook.co.kr/sih/fit-in/30...,학교 안에서,"10,800",10.0,600,chung,"['Beige', 'Purple']","['mysterious', 'calm', 'dreamlike']",391,"[학교, 폭탄, 경찰청]"

In [9]:
df.to_csv('D:\\ampick\mirror\\recommend_data.csv',index=False)